<div>
  <input #title (keyup)="0">
  <span>{{title.value}}</span>
</div>
<h4>{{title}}</h4>
<hr>

<div>
  <input #message (keyup)="setMessage(message.value)">
  <span>{{greetMessage}}</span>
</div>
<hr>

<h3>Accessing Child properties and methods using template variable -</h3>
<div>Accessing child property in parent: {{counter.val}}</div>
<app-counter #counter></app-counter>
<button (click)="counter.increment()">INCREMENT</button>
<button (click)="counter.decrement()">DECREMENT</button>

<app-keypoints [points]=points></app-keypoints>
