<h2>
  @View Children
</h2>

<div>
  <p #p>Paragraph 1</p>
  <p #p>Paragraph 2</p>
  <p #p>Paragraph 3</p>
  <p #p>Paragraph 4</p>
</div>

<hr>

<div>
  <div appShowFullText [highlightColor]="'orange'">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua
  </div>
  <div appShowFullText [highlightColor]="'red'">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua
  </div>
  <div appShowFullText [highlightColor]="'green'">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua
  </div>
  <div appShowFullText [highlightColor]="'blue'">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua
  </div>
</div>