.form-group {
    width: 400px;
    margin-bottom: 10px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.alert {
    background-color: red;
    margin-top: 5px;
    color: white;
}